{% include 'index.html' %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

<table class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">year</th>
        <th scope="col">author</th>
      </tr>
    </thead>
    <tbody id="search results">
      <tr>
          <th scope="row">1</th>
      </tr>
      <tr>
          <th scope="row">2</th>
      </tr>
      <tr>
          <th scope="row">3</th>
      </tr>

    </tbody>
  </table>
{% endblock %}