<table>
  <thead>
    <tr>
      <th>Author Name</th>
      <th>Related Work Title</th>
      <th>Related Works</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row['author_name'] }}</td>


      <td>{{ row['related_work_title'] }}</td>
      <td>
        <ul>
          {% for related_work in row['related_works'] %}
          <li><a href="{{ related_work }}">{{ related_work }}</a></li>

          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>










